*{
	padding: 0;
	margin: 0;
}
header{
	height: 70px;
	display: flex;
	background-color: #dfdfdf;
}
#logo{
	width: 110px;
	height: 100%;
	padding: 5px;
}
#content{
	width: 100%;
	height: 100%;
}
#profile{
	width: 200px;
	height: 100%;
}
.headerone{
	font-size: 25px;
	font-family: sans-serif;
	text-align: center;
}
.header-p p{
	float: left;
	margin: 10px;
	font-size: 4vw;
}

